.container {
  text-align: center;
  margin: auto;
  padding: auto;
}
h1 {
  text-align: center;
  color: white;
  font-family: Courier, Arial, Helvetica, sans-serif;
  font-size: 300% !important;
}

button {
  font-size: 300% !important;
  padding: 10px;
  margin: 50px !important;
  padding: 10px !important;
}
.div {
  /* position: relative; */
  text-align: center;
}

.SOTOIcon {
  width: 30%;
  height: 30%;
  border: 5 yellow;
}

.row {
  width: 100% !important;
}
